@import 'variables';

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a{
	color: $color-primary;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

a:hover,
a:focus{
	color: $color-secondary;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 25px;
}

section {
	text-align: center;
}

.full-height {
	min-height: 100vh;
}

.auto-height {
	padding: 80px 0;
}

.learn-more-icon{
	width: 24px;
	float: right;
	margin-left: 10px;
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	background-image: url('../images/header.jpg');
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

header .header-content{
	position: relative;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 70px;
	text-align: center;
}

header .header-content .header-content-inner h1{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: 300;
}

header .header-content .header-content-inner p{
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,.7);
}

@media (min-width:768px) {
	header {
		min-height: 100%;
	}

	header .header-content {
		position: absolute;
		top: 50%;
		padding: 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	header .header-content .header-content-inner {
		margin-right: auto;
		margin-left: auto;
		max-width: 1000px;
	}

	header .header-content .header-content-inner h1 {
		font-size: 100px;
	}

	header .header-content .header-content-inner p {
		margin-right: auto;
		margin-left: auto;
		max-width: 80%;
		font-size: 18px;
	}
}
.section-heading{
	margin-top: 0;
	margin-bottom: 20px;
}

.intro{
	display: flex;
	align-items: center;
	text-align: center;
}
.dark{
	color: #fff;
	background-color: #303030;
}
.content{
	padding: 20px 0 40px;
	text-align: center;
}
.logo-small{
	width: 60px;
	height: auto;
}
.page-footer{
	text-align: center;
}

.text-light{
	color: rgba(255,255,255,.7);
}

.spacer {
	flex: 1;
}

.navbar {
	position: fixed;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	width: 100%;
	height: $nav-height;
	overflow: hidden;
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(255,255,255,.5);
	-webkit-font-smoothing: antialiased;
	z-index: 100;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;

	.brand {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
			color: black;
			letter-spacing: 0.2em;
		}
	}

	&--hover {
		height: $nav-height-hover;
		background-color: #fff;
		border-bottom: none;
		box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);

		.brand a {
			letter-spacing: normal;
		}
	}

	&-inner {
		display: flex;
		width: 100%;
		max-width: 1200px;
		padding: 0 50px;
	}

	.open {
		height: 150px;
	}
}

.navbar-inner .pure-menu,
#navlist {
	height: 100%;
	display: flex;
	align-items: center;
}

.pure-menu-horizontal .pure-menu-item {
	display: inline-flex;
	align-items: center;
}

.pure-menu-item a.pure-menu-link {
	color: rgba($color: #000000, $alpha: 0.7);
}

.pure-menu-item.active a.pure-menu-link,
a.pure-menu-link:hover {
	color: rgba($color: #000000, $alpha: 1);
}

#navlist li.active::after {
	display: block;
	position: absolute;
	content: " ";
	bottom: 0px;
	border-bottom: 2px solid $color-primary;
	width: 100%;
	transition: all 0.2s;
}

.custom-menu-3 {
	text-align: right;
}

.navbar-toggle {
	display: none;
	position: relative;
	width: 34px;
	height: 34px;
	margin-right: 20px;
}

.navbar-toggle .menu-bar {
	background-color: black;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-toggle .menu-bar:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}

.navbar-toggle.x .menu-bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.navbar-toggle.x .menu-bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
	.custom-menu-3 {
		text-align: left;
	}

	.navbar-toggle {
		display: block;
	}
}
/*
.navbar-brand{
	height: auto;
}
.nav li.active{
	&:after{
		display: block;
		content: " ";
		bottom: 0px;
		border-bottom: 2px solid $color-primary;
		width: 0;
		width: auto;
		transition: all 0.2s;
	}
}
.navbar-default{
	border-color: rgba(34,34,34,.05);
	background-color: #fff;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand{
	color: $color-primary;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus{
	color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus{
	color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover{
	color: $color-primary;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus{
	color: $color-primary!important;
	background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover{
	background-color: transparent;
}

@media (min-width:768px){
	.navbar-default{
		border-color: rgba(255,255,255,.3);
		background-color: transparent;
}

	.navbar-default .navbar-header .navbar-brand{
		color: rgba(0,0,0,.7);
		letter-spacing: 0.2em;
	}


	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus{
		color: #000;
}

	.navbar-default .nav > li>a,
	.navbar-default .nav>li>a:focus{
		color: rgba(0,0,0,.7);
}

	.navbar-default .nav > li>a:hover,
	.navbar-default .nav>li>a:focus:hover{
		color: #000;
}

	.navbar-default.affix{
		border-color: #fff;
		background-color: #fff;
		box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
}

	.navbar-default.affix .navbar-header .navbar-brand{
		letter-spacing: 0;
		color: $color-primary;
}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus{
		color: #eb3812;
}
	.navbar-default.affix .nav > li>a,
	.navbar-default.affix .nav>li>a:focus{
		color: #222;
}
	.navbar-default.affix .nav > li>a:hover,
	.navbar-default.affix .nav>li>a:focus:hover{
		color: $color-primary;
	}
} */

.btn{
	border-radius: 17px;
	transition: all .35s;

	&.btn-lg{
		border-radius: 23px;
	}
}
::-moz-selection{
	text-shadow: none;
	color: #fff;
	background: #222;
}

::selection{
	text-shadow: none;
	color: #fff;
	background: #222;
}
img::selection{
	color: #fff;
	background: 0 0;
}
img::-moz-selection{
	color: #fff;
	background: 0 0;
}
.text-primary{
	color: $color-primary;
}
.bg-primary{
	background-color: $color-primary;
}
