$nav-height: 60px;
$nav-height-hover: 40px;

$color-link: yellowgreen;
$color-link-hover: yellowgreen;

$color-primary: yellowgreen;
$color-primary-contrast: white;
$color-secondary: forestgreen;
$color-accent: limegreen;

$color-btn-hover: forestgreen;