$nav-height: 60px;
$nav-height-hover: 40px;

$color-link: #FFBE1F;
$color-link-hover: #FFBE1F;

$color-primary: #FFBE1F;
$color-primary-contrast: white;
$color-secondary: #F7A600;
$color-accent: #F7A600;

$color-btn-hover: #F7A600;